.sticky-top .dropdown-menu.echo-menu-shortcode {
	top: 89px;
}

.dropdown-menu.echo-menu-shortcode {
	border: 0;
	padding: 0;
	border-radius: 0;
	top: 107px;
	left: 0;
	right: 0;
	box-shadow: 0 999px 0 999px rgb(255 255 255 / 50%);

	.menu-body {
		background: url(../images/bg-menu.png) no-repeat;
		background-position: 50%;
		background-size: cover;

		@include media-breakpoint-down(xl) {
			background: none;
		}
	}

	.menu-heading {
		padding-left: 2.5rem;
		padding-right: 5rem;
		height: 100%;
		background-color: var(--tertiary);
		clip-path: polygon(0% 0%, 100% 0, 75% 100%, 0 100%);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 25%;
			width: 400px;
			height: 200px;
			background-image: url(../images/pulse-light-blue-semi-hor.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50%;
			opacity: 0.3;

			@include media-breakpoint-down(lg) {
				content: none;
			}
		}

		@include media-breakpoint-down(xl) {
			background-color: transparent;
			padding: 2rem 5rem 2rem 0;

			clip-path: none;
		}

		@include media-breakpoint-down(md) {
			padding: 2rem 0 0;
		}
	}

	.menu-content {
		padding-right: 2rem;
		padding-left: 4.125rem;
		height: 100%;
	}

	.about-subtitle p {
		font-size: 1rem;
		font-weight: $font-weight-regular;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header-menu {
		.mega-menu-title {
			font-size: 1rem;
			font-weight: $font-weight-bold;
			color: var(--secondary);
			margin-bottom: 0.875rem;

			a:not(.sub-menu a) {
				font-size: 1rem;
				font-weight: $font-weight-bold;
				color: var(--secondary);
				margin-bottom: 0.875rem;

				@include media-breakpoint-down(xl) {
					color: var(--secondary);

					&:hover {
						color: var(--primary);
					}
				}
			}
		}

		.sub-menu {
			padding: 0;
		}

		.column-menu .sub-menu {
			column-count: 2;
			column-gap: 3rem;

			@include media-breakpoint-down(sm) {
				column-count: 1;
			}
		}

		ul.acf-menu {
			padding-left: 0;

			li {
				padding-left: 0;
				margin-bottom: 0.5rem;

				&::marker {
					content: none;
				}

				a {
					font-size: 0.875rem;
					font-weight: $font-weight-medium;
					color: var(--white);
					margin-bottom: 0.875rem;

					&:hover {
						color: var(--highlight);
					}

					@include media-breakpoint-down(xl) {
						color: var(--primary);

						&:hover {
							color: var(--secondary);
						}
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@include media-breakpoint-down(xl) {
	.dropdown-menu.echo-menu-shortcode {
		box-shadow: none;
		border: none !important;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		top: 0;
		opacity: 1;
		padding: 1.5rem;

		&::before {
			content: none;
		}
	}
}

.navbar-toggler {
	color: var(--secondary) !important;
}

.navbar-toggler:hover {
	color: var(--tertiary) !important;
}

.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none !important;
}

.navbar .offcanvas {
	width: 100%;
	max-width: none;
	top: 0;
	bottom: 0;
	background-color: var(--grey);
	border: none;

	.offcanvas-body {
		padding: 0;
	}

	.offcanvas-body li.menu-item {
		padding: 0;
	}

	.offcanvas-body-menu {
		text-align: right;
	}

	.offcanvas-body ul li.current-menu-item a {
		color: var(--primary);
	}

	.offcanvas-body ul li a {
		color: var(--primary);
		font-size: 1.25rem;
		font-weight: $font-weight-medium;
		align-items: center;
		position: relative;

		&:hover,
		&:focus {
			color: var(--secondary);
		}

		i {
			color: var(--primary);
			font-size: 0.6rem;
			margin-left: 0.55rem;
			margin-top: 5px;
		}

		i::before {
			content: "\e91b";
		}
	}
}

.offcanvas-body-menu {
	padding: 2.5rem 2.5rem 2.5rem 1.5rem;
}

.offcanvas-body-menu .dropdown-menu.echo-menu-shortcode {
	background-color: var(--grey);
	height: 100%;
	padding: 2.5rem 2.5rem 2.5rem 1.5rem;
	top: 0;

	.menu-content {
		padding: 2rem 0;
	}
}

.offcanvas-header {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.title {
		font-size: 1.75rem;
		font-weight: $font-weight-regular;
		color: var(--primary);
	}
}

.btn-close-mega {
	background: transparent;
	color: var(--primary);
	box-shadow: none;
	border: none;
	font-size: 1rem;

	i {
		color: var(--primary);
		font-size: 0.7rem;
		margin-right: 0.55rem;
	}
}

@include media-breakpoint-down(xl) {
	.dropdown-menu.echo-menu-shortcode .header-menu p {
		font-size: 1.25rem;
		font-weight: $font-weight-medium;
	}
}

@include media-breakpoint-up(xl) {
	.main-menu .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease;
	}

	.main-menu li.show > .dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
}

@media (max-height: 850px) {
	.menu-content {
		height: 90vh !important;
		overflow-y: scroll;
	}
}
