/**************************************/
/* !Page Title                        */
/**************************************/

.page-header-block {
	position: relative;
	color: $primary;
	min-height: 450px;
	background-repeat: no-repeat;
	background-position: right center;
	@media (max-width: 767px) {
		min-height: 0;

		img {
			display: none;
		}
	}
	&.layout--fullwidth-image {
		img.layout--fullwidth-image__bg {
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			right: 0;
			z-index: 1;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		@media (max-width: 991px) {
			background-size: cover;
		}
		&:after {
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 1) 35%,
				rgba(255, 255, 255, 0) 50%
			);
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			@media (max-width: 991px) {
				background: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0.95) 45%,
					rgba(255, 255, 255, 0) 100%
				);
			}
		}
	}
	&.layout--half-image {
		background-color: var(--white);
		img.layout--half-image__bg {
			object-fit: cover;
			width: 50%;
			height: 100%;
			position: absolute;
			right: 0;
			z-index: 1;
			@media (max-width: 767px) {
				width: 100%;
				opacity: 0.1;
			}
		}
	}
	.row {
		position: relative;
		z-index: 2;
	}
	.breadcrumb {
		align-items: center;
		font-size: 0.75rem;
		gap: 10px;
		margin-bottom: 2rem;
		a {
			text-decoration: none;
		}
		span {
			font-size: 0.5rem;
		}
	}
}
/**************************************/
/* !Advert Feature                    */
/**************************************/
.advert-layout--image-right {
	.advert-feature__image {
		order: 2;
		@media (max-width: 991px) {
			order: 1;
		}
	}
	.advert-feature__content {
		order: 1;
		@media (max-width: 991px) {
			order: 2;
		}
	}
}

.advert-feature__container {
	margin: auto;
	align-items: center;
	padding: 0 0.5rem;

	.row {
		background-color: white;
	}
}
.advert-feature__image {
	position: relative;
	padding: 0;
	@media (max-width: 991px) {
		min-height: 300px;
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
.advert-feature__content {
	padding: 5rem;
	.section-tagline {
		color: $accent-terracotta;
		text-transform: uppercase;
	}
	.section-title {
		margin-bottom: 2rem;
	}
	@media (max-width: 767px) {
		padding: 3rem 2rem;
	}
}
/**************************************/
/* !Advert CTA                        */
/**************************************/
.advert-cta {
	.advert-cta__container {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
		max-width: 1200px;
		margin: auto;

		img {
			margin-right: 20px;
		}

		@media (max-width: 1200px) {
			display: flex;
			flex-flow: column;
			text-align: center;
			gap: 2rem;
		}

		.section-title {
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-down(lg) {
	.advert-cta .section-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		img {
			margin-right: 0;
		}
	}
}

/**************************************/
/* !Featured Category                 */
/**************************************/
.featured-category {
	.container-fluid {
		padding: 0 0.5rem;
	}
	.row > * {
		padding: 4px;
	}
	.card {
		border: 0;
		border-radius: 0;

		h3 {
			color: var(--primary);
		}

		a {
			text-decoration: none;
		}

		img {
			z-index: 1;
			border-radius: 0;
			object-fit: cover;
			height: 450px;

			@include media-breakpoint-down(sm) {
				height: 400px;
			}
		}

		&:before {
			content: "";
			background: transparent
				linear-gradient(180deg, #f9faf800 0%, #f9faf8d3 52%, #f9faf8 100%) 0% 0%
				no-repeat padding-box;
			z-index: 2;
			position: absolute;
			width: 100%;
			height: 40%;
			bottom: 0;
		}

		&:hover {
			h3 {
				color: var(--primary);
			}

			.btn {
				opacity: 1;
				margin-bottom: 0;
				transition: opacity margin-bottom 0.6s ease, opacity 0.6s ease;
			}
		}
	}
	.card-img-overlay {
		height: 100%;
		top: auto;
		z-index: 3;
		transition: all 2s;
		display: flex;
		justify-content: end;
		flex-flow: column;
		overflow: hidden;

		h3 {
			color: var(--primary);
		}

		&:hover {
			a {
				color: var(--primary);
			}

			h3 {
				color: var(--primary);
			}

			.btn {
				color: var(--white);
				background-color: var(--primary);
			}
		}
	}
	.btn {
		max-width: max-content;
		margin-bottom: -50px;
		transition: margin-bottom 0.6s ease, opacity 0.6s ease;
		opacity: 0;
	}
}

/**************************************/
/* !Photo Collage                     */
/**************************************/
.photo-collage {
	.photo-collage__gallery {
		height: 100%;
		display: grid;
		grid-template-columns: 6 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 8px;
		padding: 0;
		@media (max-width: 767px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		@media (min-width: 768px) {
			li:nth-child(1),
			li:nth-child(3n + 1) {
				background-color: var(--primary);
				grid-row: 1 / 3;
			}
			li:nth-child(2),
			li:nth-child(3n + 2) {
				grid-row: 1 / 2;
			}
			li:nth-child(3),
			li:nth-child(3n + 3) {
				grid-row: 2 / 3;
			}
		}
		@media (max-width: 767px) {
			grid-gap: 4px;
			li:nth-child(1) {
				background-color: var(--primary);
				grid-row: 1 / 3;
			}
			li:nth-child(2) {
				background-color: var(--primary);
				grid-row: 1 / 2;
			}
			li:nth-child(3) {
				background-color: var(--primary);
				grid-row: 2 / 2;
			}
			li:nth-child(4) {
				background-color: var(--primary);
				grid-row: 3 / 5;
				order: 6;
			}
			li:nth-child(5) {
				background-color: var(--primary);
				grid-row: 3 / 3;
				order: 4;
			}
			li:nth-child(6) {
				background-color: var(--primary);
				grid-row: 4 / 4;
				order: 5;
			}
		}
	}
}

/**************************************/
/* !Photo Divider               	  */
/**************************************/
.photo-divider {
	max-height: 50vh;
	overflow: hidden;
	img {
		object-fit: cover;

		@media (max-width: 767px) {
			height: 200px;
		}
	}
}

/**************************************/
/* !Video Block                	 	  */
/**************************************/
.video-container {
	position: relative;
	.controls {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			#play-pause.hide {
				opacity: 1;
			}
		}
		.btn {
			border-color: #fff;
			color: #fff;
			&:hover {
				border-color: var(--secondary);
			}
		}
	}
}

#play-pause {
	&.hide {
		opacity: 0;
	}
}

.dropdown-menu {
	&.echo-menu-shortcode {
		left: 0;
		top: 37px;
		width: 100%;
		border-radius: 0;
		background: $light;
		margin: 0;
		border: 0;
		box-shadow: 0 999px 0 999px rgb(13 49 31 / 50%);

		@media screen and (max-width: 1199px) {
			box-shadow: none;
			border: none !important;
			overflow-y: scroll;
			overflow-x: hidden;
			background: white;
			position: absolute;
			top: 0;
			opacity: 1;
			height: calc(100% - 144px);
			padding: 1.5rem;
		}
	}
	.container.menu_style_2,
	.container.menu_style_3 {
		max-width: 100%;
	}
	.container {
		max-width: 90%;
		z-index: 2;
		position: relative;
		padding: 0;
		@media (max-width: 1199px) {
			max-width: 100%;
		}
	}

	.col-menu {
		.link-items {
			height: 500px;
			@media (max-width: 1500px) {
				height: 450px !important;
			}
			@media (max-width: 1350px) {
				height: 400px !important;
			}
			@media (max-width: 1199px) {
				height: max-content !important;
			}
			a {
				display: block;
				padding: 0.5rem 0;
				color: $black;
				@media screen and (max-width: 1199px) {
					width: 100%;
				}
				&:hover {
					color: $primary;
				}
				.service_container {
					display: flex;
					> * {
						flex-grow: 1;
						align-self: stretch;
					}
					.image-preview {
						display: none;
						.card {
							align-items: self-start;
							width: 100%;
							position: absolute;
							top: 0;
							right: 0;
							@media (max-width: 1500px) {
								max-width: 400px !important;
							}
							@media (max-width: 1350px) {
								max-width: 350px !important;
							}
							@media (max-width: 1250px) {
								max-width: 300px !important;
							}
						}
						&.active {
							display: block;
							@media (max-width: 1199px) {
								display: none;
								opacity: 0;
							}
						}
						@media (max-width: 1199px) {
							display: none;
							opacity: 0;
						}
					}
					.service-title {
						@media (max-width: 1199px) {
							font-size: clamp(0.75rem, 0.6931rem + 0.2427vw, 0.875rem);
							color: $secondary;
						}
					}
				}
			}
		}

		&.two-col-menu {
			.link-items {
				a {
					width: 50%;
					white-space: nowrap;
					@media screen and (max-width: 1199px) {
						width: 100%;
					}
					&:hover {
						color: $primary;
					}
				}
			}

			.col:nth-of-type(even) {
				.link-items {
					a {
						width: 33.333333%;
						@media screen and (max-width: 1199px) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
.dropdown-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	// aspect-ratio: 4 / 3;
}
@media (min-width: 1200px) {
	.menu-list {
		padding: 1rem 0.5rem 1rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: start;

		li {
			margin-bottom: 1rem;
		}

		a {
			text-decoration: none;
			font-size: 0.875rem;
		}
	}
}
.offcanvas-body:not(.menu-list) ul {
	column-count: 2;
	display: block;
	list-style-type: none;
}
.offcanvas-backdrop {
	background-color: transparent !important;
}
.offcanvas {
	width: 100% !important;
	max-width: none;
	height: calc(100% - 95px);
	top: auto !important;
	bottom: 0;
}
.btn-close-secondary {
	position: absolute;
	right: 0;
	z-index: 9999;
}

@include media-breakpoint-down(xl) {
	.offcanvas {
		height: calc(100% - 135px);
	}

	.main-header.sticky-top {
		.offcanvas {
			height: calc(100% - 112px);
		}
	}
}

@include media-breakpoint-down(lg) {
	.offcanvas {
		height: calc(100% - 65px);
	}

	.main-header.sticky-top {
		.offcanvas {
			height: calc(100% - 54px);
		}
	}
}

@include media-breakpoint-down(sm) {
	.offcanvas {
		height: calc(100% - 62px);
	}

	.main-header.sticky-top {
		.offcanvas {
			height: calc(100% - 47px);
		}
	}
}

.offcanvas .btn-close-mega {
	opacity: 0;
}
.offcanvas .btn-close-mega.show {
	opacity: 1;
	color: var(--white) !important;
	top: 2rem;
	right: 1.2rem;
	padding: 5px 5px 8px 6px;
	background: var(--primary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3px;
}

button.btn-close::after {
	content: none;
}

button.btn-close::before {
	@extend %font-icon;
	content: "\e91a";
	font-size: 0.6rem;
	margin-top: 5px;
}

.dropdown-menu.echo-menu-shortcode {
	.menu-mobile-title {
		margin: 2rem 0 2rem;
		position: relative;
		padding-right: 4rem;

		&::before {
			content: "";
			position: absolute;
			bottom: -10px;
			width: 125%;
			height: 1px;
			background-color: var(--primary);
		}
	}

	.offcanvas-body li {
		padding: 0;
	}

	.menu-list ul {
		columns: 1;
		padding: 0;

		li {
			padding: 0;

			a {
				margin-bottom: 14px;
				line-height: 1.3;
			}
		}
	}

	@include media-breakpoint-down(xl) {
		.content-col {
			margin-bottom: 1.5rem;
			border-bottom: 1px solid var(--accent-green);
			padding-bottom: 1rem;
		}
	}
}

@include media-breakpoint-down(xl) {
	.extra-padding-start .pt-5,
	.extra-padding-start .pb-5 {
		padding-top: 0 !important;
		padding-bottom: 1rem !important;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid var(--accent-green);
	}

	.offcanvas-body li a.btn {
		width: fit-content;
	}
}
